@font-face
  font-family: "Degular"
  src: url("/assets/fonts/Degular-Regular.otf")
  font-weight: normal

@font-face
  font-family: "Degular"
  src: url("/assets/fonts/Degular-Bold.otf")
  font-weight: bold

@font-face
  font-family: "Degular"
  src: url("/assets/fonts/Degular-Black.otf")
  font-weight: 900

body
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-family: "Degular", Arial
  font-weight: normal
  color: $color-black
  background-color: $color-background
  height: 100vh
  overflow: hidden

.powered-by
  position: fixed
  right: 25px
  bottom: 25px
  height: 80px

h1
  margin-bottom: 0
  font-weight: 900

p
  margin-top: 8px


//Alert
.alert-danger
  position: fixed
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  top: 0
  left: 0
  right: 0
  padding: 24px 32px
  background-color: $color-purple
  color: white
  transition: all .25s ease

  &:not(.show)
    transform: translateY(-100%)

  p
    margin: 0