@font-face
  font-family: "Degular"
  src: url("/assets/fonts/Degular-Regular.otf")
  font-weight: normal

@font-face
  font-family: "Degular"
  src: url("/assets/fonts/Degular-Bold.otf")
  font-weight: bold

@font-face
  font-family: "Degular"
  src: url("/assets/fonts/Degular-Black.otf")
  font-weight: 900

body
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-family: "Degular", Arial
  font-weight: normal
  color: $color-black
  background-color: $color-green-light
  height: 100vh
  overflow: hidden

nav
  position: fixed
  bottom: 0
  left: 0
  right: 0
  height: 2.5rem
  background-color: $color-purple
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  padding: 4px

  #clock
    color: white
    padding: 8px 12px
    border: 1px solid $color-black

  .nav-item
    display: flex
    flex-direction: row
    align-items: center
    gap: 8px
    color: white
    cursor: pointer
    padding: 8px 12px
    border: 1px solid $color-black

    &.active
      font-weight: bold
      background-color: rgba(white, .9)
      color: $color-purple
      box-shadow: inset 2px 2px 0 0 $color-black



.powered-by
  position: fixed
  right: 25px
  bottom: 50px
  height: 80px

h1
  margin-bottom: 0
  font-weight: 900

p
  margin-top: 8px


//Alert
.alert-danger
  position: fixed
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  top: 0
  left: 0
  right: 0
  padding: 24px 32px
  background-color: $color-purple
  color: white
  transition: all .25s ease

  &:not(.show)
    transform: translateY(-100%)

  p
    margin: 0